
<!doctype html>
{% load static%}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link href={% static "css/bootstrap.min.css" %} rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="{% static "css/tiny-slider.css"%}" rel="stylesheet">
		<link href="{% static "css/style.css"%}" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
               
		<title>user profile</title>
	</head>
    <style>
        .custom-border
        {
            border:3px solid;
        }
        .cart-icon-container {
				position: relative;
				display: inline-block;
			}
	
			.cart-badge {
				position: absolute;
				top: -10px;
				right: -10px;
				min-width: 5px;
				padding: 1px;
				border-radius: 50%;
				background-color: #007bff; /* You can change the background color */
				color: white;
				text-align: center;
				font-size: 12px;
			}
    </style>

	<body>

		<!-- Start Header/Navigation -->

        {% if messages %}
        <div class="alert alert-success mt-3">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        </div>
        {% endif %}

		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="index.html">Furni<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item "><a class="nav-link" href="/">Home</a></li>
						<li><a class="nav-link" href="/shop">Shop</a></li>
						<li><a class="nav-link" href="/orderdetails">My orders</a></li>
					</ul>
					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
            <li><div class="cart-icon-container">
              <a class="nav-link" href="/showcart"><img src="{%static "images/cart.svg"%}"> <span class="px-2 text-center cart-badge">{{no}}</span></a>
              </div></li>
					</ul>
				</div>
			</div>
				
		</nav>
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>User profile</h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->
  {% comment %} profile area {% endcomment %}
  <section style="background-color: #eee;">
    <div class="container py-5">
      
  <div class="container ">
      <div class="row">
        <div class="  col-lg-12 ">
          <div class="card mb-4 col-lg-4 m-auto">
            <div class="card-body text-center">
              {% if obj.profile %}
              <img src="{{obj.profile.url}}" alt="avatar"class="mt-4 img-fluid" style="width: 150px; height:200px;">
              {% else %}
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class=" img-fluid" style="width: 150px;">
                {% endif %}
              <h5 class="my-3">{{obj.username}}</h5>
              {% comment %} <p class="text-muted mb-1">Full Stack Developer</p>
              <p class="text-muted mb-4">Bay Area, San Francisco, CA</p> {% endcomment %}
              <div class="d-flex justify-content-center mb-2">
                {% comment %} <button type="button" class="btn btn-primary">Follow</button>
                <button type="button" class="btn btn-outline-primary ms-1">Message</button> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="col-lg-12">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{obj.username}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{obj.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{obj.phone}}</p>
                </div>
              </div>
              <hr>
             
             
              <a href="/editprofile/"><button type="button" class="btn btn-primary mt-4">edit profile</button></a>
              <a class="btn btn-primary mt-4 " href="/changepassword/">change password</a>
            </div>
          </div>

            
          <table class="table  table-bordered .custom-border table-striped table-hover">
            <thead>
                <tr class="bg-black text-white">
                    
                    <th>Name</th>
                    <th>state,country</th>
                    <th>address</th>
                    <th>post,pin</th>
                    <th>email</th>
                    <th>phone</th>
                    <th>actions</th>
                  
                    



                </tr>
            </thead>
            <tbody>
               {% for  i in addr%} 
                <tr>
                    <td>{{i.first_name}}<br>{{i.last_name}}</td>
                    <td>{{i.state}},{{i.country}}</td>
                    <td>{{i.address}}</td>
                    <td>{{i.post}}<br>{{i.pin}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.phone}}</td>
                    
                    
                    <td >
                       
                        <a href="/editaddressinuser/{{i.id}}" class="d-block text-dark text-decoration-none"  >Edit</a>
                        


                        
                        <a href="#removeaddress{{i.id}}" class=" text-danger text-decoration-none" data-toggle="modal">Remove</a>
                        
                        <div id="removeaddress{{i.id}}" class="modal fade">
		
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form action="/removeaddress/{{i.id}}" method='POST'>
                                        {% csrf_token%}
                                        <div class="modal-header">						
                                            <h4 class="modal-title">remove the address</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">					
                                            <p>do you want to remove the address?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                            <button type="submit" class="btn btn-danger" value="Delete">remove</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                        
                    </td>
                </tr>	
              {% endfor %}
            </tbody>
        </table>
        <a href="/addaddressinuser" class="add" ><button class="btn btn-success"><span>Add address</span></button></a>
        
        </div>
       </div>


      </div>
    </div>
  </section>

  
		



		<!-- Start Footer Section -->
		<footer class="footer-section">
			<div class="container relative">
				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Furni<span>.</span></a></div>
						<p class="mb-4">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant</p>

						<ul class="list-unstyled custom-social">
							<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
						</ul>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">About us</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Contact us</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Support</a></li>
									<li><a href="#">Knowledge base</a></li>
									<li><a href="#">Live chat</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Jobs</a></li>
									<li><a href="#">Our team</a></li>
									<li><a href="#">Leadership</a></li>
									<li><a href="#">Privacy Policy</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Nordic Chair</a></li>
									<li><a href="#">Kruzo Aero</a></li>
									<li><a href="#">Ergonomic Chair</a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a hreff="https://themewagon.com">ThemeWagon</a>  <!-- License information: https://untree.co/license/ -->
            </p>
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
		</footer>
		<!-- End Footer Section -->	


		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/tiny-slider.js"></script>
		<script src="js/custom.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        <script>
            $(document).ready(function(){
// Activate tooltip
$('[data-toggle="tooltip"]').tooltip();

// Select/Deselect checkboxes
var checkbox = $('table tbody input[type="checkbox"]');
$("#selectAll").click(function(){
if(this.checked){
    checkbox.each(function(){
        this.checked = true;                        
    });
} else{
    checkbox.each(function(){
        this.checked = false;                        
    });
} 
});
checkbox.click(function(){
if(!this.checked){
    $("#selectAll").prop("checked", false);
}
});
});
// Initialization for ES Users
import { Input, Ripple, initMDB } from "mdb-ui-kit";

initMDB({ Input, Ripple });
      function toggleSidebar() {
        $('.sidebar').toggleClass('active');
        $('.content').toggleClass('active');
      }
    </script>



	</body>
    
              
</html>
