
{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS -->
                
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="">
		<link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="{%static "css/tiny-slider.css" %}" rel="stylesheet">
		<link href="{%static "css/style.css"%}" rel="stylesheet">
		<title>Furni Free Bootstrap 5 Template for Furniture and Interior Design Websites by Untree.co </title>
         
        <style>
            .bg-image-vertical {
                position: relative;
                overflow: hidden;
                background-repeat: no-repeat;
                background-position: right center;
                background-size: auto 100%;
                }
                
                @media (min-width: 1025px) {
                .h-custom-2 {
                height: 100%;
                }
                }
        </style>  
	</head>

	<body>

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark " arial-label="Furni navigation bar">

			<div class="container ">
				<a class="navbar-brand mx-auto" href="/">Furni<span>.</span></a>
			</div>
				
		</nav>
		<!-- End Header/Navigation -->
  
            </head>
            <body>
                <section class="vh-100">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-sm-6 text-black">
                  
                          
                          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
                  
                            <form action='/usersignup/' method='POST'style="width: 23rem;">
								{% csrf_token %}
                  
                              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign up here....! </h3>
							  {% if messages %}
							  <div class="alert alert-danger mt-3">
							  {% for message in messages %}
							  {{ message }}
							  {% endfor %}
							  </div>
							  {% endif %}
			  
                  
                              <div class="form-outline mb-4">
                                <input type="text" name="username" id="form2Example18" class="form-control form-control-lg" />
                                <label class="form-label" for="form2Example18">Name*</label>
                              </div>
                              <div class="form-outline mb-4">
                                <input type="number" name="phone" id="form2Example18" class="form-control form-control-lg" />
                                <label class="form-label" for="form2Example18">Phone number*</label>
                              </div>
                              <div class="form-outline mb-4">
                                <input type="email" name="email" id="form2Example18" class="form-control form-control-lg" />
                                <label class="form-label" for="form2Example18">Email </label>
                              </div>
                  
                              <div class="form-outline mb-4">
                                <input type="password" name="pass" id="form2Example28" class="form-control form-control-lg" />
                                <label class="form-label" for="form2Example28">Password</label>
                              </div>
                  
                              <div class="pt-1 mb-4">
                                <button class="btn btn-info btn-lg btn-block" type="submit">Sign up</button>
                              </div>

                              <div class="form-check d-flex justify-content-center mb-5">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                                <label class="form-check-label" for="form2Example3">
                                  I agree all statements in <a href="#!">Terms of service</a>
                                </label>
                              </div>
                  
                              
                  
                            </form>
                  
                          </div>
                  
                        </div>
                        <div class="col-sm-6 px-0 d-none d-sm-block">
                          <img style="width:100px;height:100px"src="{% static "images/img-grid-1.jpg" %}"
                            alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
                        </div>
                      </div>
                    </div>
                  </section>
                  

		<!-- Start Footer Section -->
		<footer class="footer-section ">
			<div class="container relative">

				

				

				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Furni<span>.</span></a></div>
						<p class="mb-4">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant</p>

						<ul class="list-unstyled custom-social">
							<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
						</ul>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">About us</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Contact us</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Support</a></li>
									<li><a href="#">Knowledge base</a></li>
									<li><a href="#">Live chat</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Jobs</a></li>
									<li><a href="#">Our team</a></li>
									<li><a href="#">Leadership</a></li>
									<li><a href="#">Privacy Policy</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Nordic Chair</a></li>
									<li><a href="#">Kruzo Aero</a></li>
									<li><a href="#">Ergonomic Chair</a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a hreff="https://themewagon.com">ThemeWagon</a>  <!-- License information: https://untree.co/license/ -->
            </p>
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
		</footer>
		<!-- End Footer Section -->	


		<script src={% static "js/bootstrap.bundle.min.js" %}></script>
		<script src="{% static "js/tiny-slider.js" %}"></script>
		<script src="{% static "js/custom.js" %}"></script>
	</body>

</html>
